name: Test

on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.4"

      - run: go test ./...
